apiVersion: apps/v1
kind: Deployment
metadata:
  name: aws-route53-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aws-route53-exporter
  template:
    metadata:
      labels:
        app: aws-route53-exporter
    spec:
      containers:
        - name: aws-route53-exporter
          image: ghcr.io/venomseven/aws-route53-exporter:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: AWS_SECRET_ACCESS_KEY
              value: SECRET_ACCESS_KEY
            - name: HOSTED_ZONE_ID
              value: ZONE_ID
            - name: AWS_ACCESS_KEY_ID
              value: ACCESS_KEY
          ports:
            - containerPort: 8000
              protocol: TCP
      restartPolicy: Always